<article class="w-max mx-auto mt-8">
  <form (ngSubmit)="onSubmit($event)" class="flex flex-col">
    <label for="todo-input" class="sr-only">Todo Input</label>
    <input
      type="text"
      id="todo-input"
      name="todo-input"
      class="px-2 py-1 rounded-md"
      placeholder="Add to do item..."
      required
      [(ngModel)]="taskText"
      (keyup.enter)="onSubmit($event)"
    />
    <button
      class="text-slate-50 border rounded-md px-3 w-max mt-2 mx-auto text-sm"
      (click)="onSubmit($event)"
    >
      Add
    </button>
  </form>
</article>
