/**************************************************************
TAILWIND CONFIG
***************************************************************/

@tailwind base;
@tailwind components;
@tailwind utilities;

/**************************************************************
RESET
***************************************************************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**************************************************************
GLOBAL STYLES
***************************************************************/
body {
  width: 90vw;
  margin-inline: auto;
  background-color: #1a3636;
}

body.dark {
  background-color: #eeeeee;
}

@media (width >= 768px) {
  body {
    width: 75vw;
  }
}
